<GridLayout rows="auto,*,auto" backgroundColor="#F0F1F4">
    <StackLayout row="0" scrollBarIndicatorVisible="false" paddingBottom="10">
        <GridLayout rows="auto">
            <GridLayout row="0" rows="*" class="header">
                <GridLayout row="0" rows="*" columns="*,auto,*" padding="15"
                    paddingBottom="0px">
                    <Label row="0" col="0" class="fa drwawerstyle" style="color:white"
                        text="&#xf053;" borderWidth="" borderColor="transparent"
                        backgroundColor="transparent" fontSize="20" (tap)="onDrawerButtonTap()"
                        horizontalAlignment="left" textAlignment="left" ></Label>
                    <Label row="0" col="1" class="fa" style="color:white;text-transform:capitalize;" 
                        text="Swimming Lessons"  backgroundColor="transparent" horizontalAlignment="center" fontWeight="bold" fontSize="24"  textAlignment="center" textWrap="true"></Label>
                  
                </GridLayout>
                <!--GridLayout row="1" rows="*" padding="1" marginLeft="9px"
                    paddingLeft="19px" paddingTop="15px">  
                    <Label row="0" text="On Boarding" class="title sf"
                        textAlignment="left" horizontalAlignment="left"></Label>
                </GridLayout-->
            </GridLayout>
        </GridLayout>
    </StackLayout>
    <GridLayout row="1" backgroundColor="#F0F1F4" marginTop="5px">
	<StackLayout>
        <ScrollView class="page" verticalAlignment="top">
            <GridLayout>
                <StackLayout  class="home-panel" backgroundColor="#F0F1F4" verticalAlignment="top" style="height:95%;margin-bottom:10"  sdkExampleTitle sdkToggleNavButton>	
						<!-- >> clear-text-search-bar-html -->
						<!--SearchBar [isEnabled]="!processing" (loaded)="sBLoaded($event)" row="0"
							hint="Search for a Name and press enter" (clear)="onClear($event)"
							(submit)="onSubmit($event)" ></SearchBar-->				
						<!-- << clear-text-search-bar-html -->	
						<StackLayout class="itemTemplateStackLayout" width="100%" orientation="vertical" width="100%" height="98%" margin="10" marginBottom="1" marginTop="9" backgroundColor="#ffffff" verticalAlignment="top"  borderRadius="15px" androidElevation="3"   class="card">
                        <ScrollView height="100%">
						<StackLayout orientation="vertical" width="100%">
						<StackLayout padding="10px" padding="35px" width="100%"   style="padding-bottom:5px;border-bottom: 1px dotted #000;border-color:#000;/*border-width: 0 0 1 0;*/border-style: dashed;">
						<StackLayout orientation="vertical" width="100%">
						<Label text="{{input.title1}}" fontSize="17px" color="#4494B4" textWrap="true"  fontWeight="500" marginBottom="3px"></Label>
						<Label text="{{input.title2}}" fontSize="12px" color="#3C3C3C" textWrap="true" fontWeight="500" marginBottom="3px"></Label>
						</StackLayout>
						<Image src="{{input.imageurl1}}" marginTop="15" marginBottom="5" width="100%"></Image>					
						</StackLayout>
						<StackLayout orientation="vertical" width="100%">
						<Label text="{{input.title3}}" fontSize="17px" color="#4494B4" textWrap="true"  fontWeight="500" marginBottom="3px"></Label>
						</StackLayout>
						<StackLayout padding="10px" padding="35px" width="100%"   style="padding-bottom:5px;border-bottom: 1px dotted #000;border-color:#000;border-style: dashed;">
						<Label text="{{input.paragraph1}}" fontSize="13px" textAlignment="left"  color="#3C3C3C" textWrap="true" fotnWeight="bold" marginBottom="4"></Label>
						<Label text="{{input.paragraph2}}" fontSize="13px" textAlignment="left"  color="#3C3C3C" textWrap="true" fotnWeight="bold" marginBottom="4"></Label>
						<Label  text="&#xf111; {{input.point1}}" fontSize="11px" textAlignment="left" class="fa" color="#3C3C3C" textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point2}}" fontSize="11px" textAlignment="left" class="fa"   color="#3C3C3C" textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point3}}" fontSize="11px" textAlignment="left" class="fa"   color="#3C3C3C" textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point4}}" fontSize="11px" textAlignment="left"  color="#3C3C3C" class="fa"  textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point5}}" fontSize="11px" textAlignment="left"  color="#3C3C3C" class="fa"  textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point6}}" fontSize="11px" textAlignment="left"  color="#3C3C3C"  class="fa"  textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point7}}" fontSize="11px" textAlignment="left" class="fa"   color="#3C3C3C" textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point8}}" fontSize="11px" textAlignment="left" class="fa"   color="#3C3C3C" textWrap="true" marginBottom="4" ></Label>
						<Label  text="&#xf111; {{input.point9}}" fontSize="11px" textAlignment="left" class="fa"  color="#3C3C3C" textWrap="true" marginBottom="4" ></Label>
						<Image src="{{input.imageurl2}}" marginTop="15" marginBottom="5" width="100%"></Image>	
						<Image src="{{input.imageurl3}}" marginTop="15" marginBottom="5" width="100%"></Image>				
						
						</StackLayout>						
						</StackLayout>
						</ScrollView>						
						</StackLayout>
				</StackLayout>
            </GridLayout>
        </ScrollView>
		</StackLayout>
		<ActivityIndicator [busy]="processing" width="42" height="42" rowSpan="3"></ActivityIndicator>
    </GridLayout>

<!--GridLayout row="2" height="40" verticalAlignment="bottom" class="boring"  androidElevation="4" >
	<StackLayout orientation="horizontal"  height="55">
	<StackLayout width="33.33%" horizontalAlignment="center" verticalAlignment="center" textAlignment="center">
	 <Image  src="~/images/homenew.png" marginTop="5%"  (tap)="getdashboard()"
                    textAlignment="center" width="17" height="16"></Image>
	</StackLayout>
	<StackLayout width="33.33%" horizontalAlignment="center" verticalAlignment="center" textAlignment="center">
  
	</StackLayout>
	<StackLayout width="33.33%" horizontalAlignment="center" verticalAlignment="center" textAlignment="center" [visibility]="input.visiblemdesk">
          
	</StackLayout>
	</StackLayout>
</GridLayout-->

</GridLayout>